/***
cleancss: true
***/

/*
 * Table of Contents:
 *
 * 1. - Home
        1.1 - heading-slider
        1.2 - starting-text
        1.3 - reason for choice
        1.4 - testimonial
 * 2. - Service
 * 3. - Doctor
        3.1 - doctor-list
        3.2 - job
 * 4. - Blog
 * 5. - FAQ
 * 6. - Gallery
 * 7. - Contact
 * 8. - Costs
 * -----------------------------------------------------------------------------
 */


@import 'palette';

//- Options light, dark [default]
$theme: light;
$logo-desktop-height: 80px;
$logo-mobile-height: $logo-desktop-height*0.75;

* {outline: none !important;}

/*============================================Global============================================ */
.dumdum {
    display: none;
}

a:hover {
 text-decoration: none;
}

ul li {
    list-style: none;
}

.form-control, .input-group-addon {
    border-radius: 0;
}

.title {
    padding: 50px 0;
    margin-top: 65px
}

@if $theme == dark {
  a {
      color: $greyish-green-3;
  }

  a:hover {
      color: $greyish-green-4;
  }
}
p {
    font-family: 'Roboto', sans-serif;
    word-spacing: 0.24em;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.margin-bottom-05 { margin-bottom: 0.5em; }
.margin-bottom-10 { margin-bottom: 1.0em; }
.margin-bottom-15 { margin-bottom: 1.5em; }
.margin-bottom-20 { margin-bottom: 2.0em; }
.margin-bottom-25 { margin-bottom: 2.5em; }
.margin-bottom-30 { margin-bottom: 3.0em; }

.section-with-top-bottom-padding {
    padding: 40px 0;
}

section {
  background-color: white;
}

.border-img {
  border: 2px solid grey;
  margin: 1em;
}

/* --------------------------------------  navs  ----------------------------------------------- */

.logo-img
{
    height: $logo-desktop-height;
}

.nav.navbar-nav 
{
    padding: 0 20px; 
    font-size: 1.2em;
}

.navbar-default
{
    background-color: transparent;
    border-color: transparent;
}
#main-nav-bar {
    background-color: transparent;
    line-height: 1;
}

.nav ul,
.nav li,
.navbar-default a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  color: white;
}

.navbar-default ul {
    margin-top: 20px;
}

.navbar-default li {
    margin-right: 8px;
}

// .navbar-default ul:before {
//   content: '';
//   display: block;
// }
// .navbar-default ul:after {
//   content: '';
//   display: table;
//   clear: both;
// }
// .navbar-default li {
//   float: left;
//   margin: 0 5px 0 0;
//   border: 1px solid transparent;
// }
.navbar-default .navbar-nav li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 18px 8px 18px;
  display: block;
  @if $theme == dark {
    color: #fff;
  }
  @if $theme == light {
    color: #222;
  }
  font-size: 16px;
}

.navbar-default li.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@if $theme == light {
  .navbar-default .navbar-nav>.active>a {
    background-color: #a7a7a7;
  }
}

.navbar-default .navbar-nav>.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background-color: #1f1f1f;
}

.navbar-default .navbar-nav>li:hover, .navbar-default .navbar-nav>li:focus {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background: #1e6468;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    color:#428bca;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;  
}

.navbar-collapse.in ul li {
  background-color: transparent;
}

// .navbar-nav.navbar-right:last-child {
//     margin-right: 0;
// }

// .navbar-default .navbar-nav li a 
// {
//     color: #fff;
// }
// .navbar-default .navbar-nav>.active
// {
//     background-color: $color-secondary-2-3;
// }
// .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus 
// {
//     color: #fff;
// }
// li:last-child 
// {
//     border-right: transparent;
// }
// .navbar-default .navbar-nav>li:hover, .navbar-default .navbar-nav>li:focus {
//     background-color: $color-secondary-2-2;
//     color: white;
// }
// .navbar-fixed-top .navbar-collapse
// {
//     max-height: 415px;
// }

// .navbar-collapse li {
//     padding: 0;
// }

// .container-fluid 
// {
//     margin-left: 20px;
// }
// .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
// {
//     color: #fff;
//     background-color: transparent;
// }
// .navbar-default .navbar-nav>.active:hover 
// {
//     background-color: rgb(219, 178, 84);
//     background-color: rgba(219, 178, 84, 0.62);
//     border-bottom: none;
// }

@media(max-width:768px){
    .logo-img
    {
        height: $logo-mobile-height;
    }

    .navbar {
      margin-bottom: 0;
      @if $theme == dark {
        background-color: #616161;
      }
      @if $theme == light {
        background-color: #e5e5e5;
      }
    }
}

//- This surrounds all the main page content, so we set negative margin to make
//- nav overlay top of cottent
//- but only for desktop otherwise messes up mobile collapsable menu
@media(min-width:767px){
  .main-content {
      margin-top: -$logo-desktop-height - 22px;
  }
}

.flat-btn
{
    background-color: #fff;
    margin-top: 20px;
    color: #46a1b4;
    border-radius: 0;
    font-size: 16px;
    transition: all 0.3s ease-in;
    padding: 13px 20px;
    border: 2px solid #fff;
}
.flat-btn:hover 
{
    color: white;
    background-color: #46a1b4;
}

/* ========================================= 1. Home============================================= */

/* -------------------------------------- 1.1 heading-mainpage---------------------------------------- */
section.heading-mainpage {
    @if $theme == light {
      background: url(../img/OperatingTheatreLight.jpg);
    }
    @else {
      background: url(../img/OperatingTheatre.jpg);      
    }
    background-size: cover;
    background-repeat: no-repeat;
}

.mainpage-inner {
    padding-top: 100px;
    padding-bottom: 10em;
}

@media only screen and (min-width:768px){
    .mainpage-inner {
        padding-top: 140px;
    }
}

.heading-mainpage {
    @if $theme == light {
      color: black;
    }
    @else {
      color: white;
    }
}

.cta_form {
    display: inline-block;
    padding: 14px;
    background: #c8c8c8 none no-repeat scroll 0 0;
    background-color: rgba(200, 200, 200, 0.6);
    border-radius: 5px;
    font-size: 0;
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 480px) {
    .form-inline .form-group .cta-form-email {
        width:420px;
        margin-right: 20px;
    }
}

.welcome-section
{
    background-color: $color-secondary-1-1;
    padding-bottom: 4em;
}
.welcome 
{
    padding: 48px 68px;
    text-align: center;
}
.welcome-title 
{
    font-size: 50px;
    padding-bottom: 15px;
    color: #020202;
}
.welcome-txt 
{
    font-size: 18px;
    color: #0f0f0f;
    line-height: 35px;
    margin-bottom: 26px;
    padding-top: 26px;
    letter-spacing: 1px;
}

.treatments-inner {
    padding-top: 100px;
    padding-bottom: 10em;
}

@media only screen and (min-width:768px){
    .treatments-inner {
        padding-top: 140px;
    }
}

/* ======================================= About ======================================== */
section.about {
  padding: 20px 0;
}

/* ======================================= Associations ======================================== */
section.associations {
  background-color: white;
  padding: 10px 0;
}

.association-img {
  height: 70px;
  padding: 8px 0;
}

/* ======================================= Treatments ======================================== */
section.heading-treatments {
    margin-top: $logo-desktop-height + 20px;
    background: url(../img/surgery-688380.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

.heading-treatments-inner {
    padding-top: 100px;
    padding-bottom: 10em;
}

@media only screen and (max-width:768px){
  .heading-treatments-inner {
      padding-top: 140px;
  }
  section.heading-treatments {
      margin-top: 0;
  }
}

.heading-treatments h1 {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 0.5em;
  font-size: 3em;
  line-height: 120%;
}

.content-treatments {
  padding: 3em 0;
}

.content-treatments h2 {
  padding-bottom: 0.1em;
}

.content-treatments hr {
  margin-top: 0.1em;
  margin-bottom: 0.5em; 
}

.content-treatments ul, .content-treatments li {
  list-style: disc;
}

/* ======================================= David Lloyd Amida Spa ======================================== */
section.heading-dl {
  margin-top: $logo-desktop-height + 20px;
  background: url(../img/dl/amida-spa-farnham.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

.heading-inner-dl {
    padding-top: 7em;
    padding-bottom: 12em;
}

.heading-dl h1 {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 0.5em;
  font-size: 3em;
  line-height: 120%;
}

@media only screen and (max-width:768px){
  .heading-inner-dl {
      padding-top: 140px;
  }
  section.heading-dl {
      margin-top: 0;
  }
}

.content-dl {
  padding: 3em 0;
}

.content-dl h2 {
  padding-bottom: 0.1em;
}

.content-dl hr {
  margin-top: 0.1em;
  margin-bottom: 0.5em; 
}

.content-dl ul, .content-dl li {
  list-style: disc;
}

/* ======================================= Contact Us ======================================== */
section.contact-us-header {
    background: url(../img/contact_us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-us-header-wrapper {
    padding-top: 100px;
    padding-bottom: 10em;
}


/* ============================================Footer=========================================== */
#footer
{
    background-color: #085A6C;
    padding: 25px 0;
    color: #fff;
}

#footer-social-section {
  padding-top: 26px;
}

.copy-right-text
{
    color: #fff;
    font-size: 13px;
    padding-top: 6px;
}

.copy-right-text a {
    color: #dadada;
}

#footer ul li {
    display: inline-block;
    list-style: none;
}

#footer ul {
    padding: 0;
}

.socials-icons a
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: darkcyan;
    float: left;
    color: white;
    padding-top: 3px;
    font-size: 20px;
}

li.socials-icons {
  padding: 0 8px;
}

.footer-contacts h4 {
  font-size: 1.6em;
  font-weight: bold;
  padding-top: 15px;
}

.footer-contacts h5 {
  font-size: 1.6em;
  padding-top: 15px;
}

.footer-contacts p {
  font-size: 1em;
}
/* =========================================Media Query========================================= */

// @media (min-width: 1200px){
//     .navbar-collapse.collapse 
//     {
//         display: block!important;
//         height: auto!important;
//         /* padding: 10px 0; */
//         overflow: visible!important;
//     }
// }
    
// @media (min-width: 1200px){
//     .navbar-collapse 
//     {
//         width: auto;
//         border-top: 0;
//         -webkit-box-shadow: none;
//         box-shadow: none;
//     }
// }
