.corner-ribbon.top-left.sticky.red.shadow(style="z-index:1000;")
  a(href="/dl.html" style="color: white;") New Vein Clinic

section#amidaspa
  .amidaspa-content
    .row
      .col-md-3
        img.img-responsive(src="/img/dl/AmidaSpaLogo.png")
      .col-md-9
        p
          | I have opened a new clinic location at the Amida Spa, Farnham. The Spa offers a
          | tranquil, relaxing environment to provide flare vein / thread vein treatments.
        p
          | Bookings can be made direct with the Spa on <a href="tel:01252 731342" onClick="ga('send', 'event', 'CTASpa', 'call', 'frontpage');" >01252 731342</a>.

        p
          a(href="/dl.html") More information ...