section#amidaspa
  .amidaspa-content
    .row
      .col-md-3
        img.img-responsive(src="/img/dl/AmidaSpaLogo.png")
      .col-md-9
        p
          | I have opened a new clinic location at the Amida Spa, Farnham. The Spa offers a
          | tranquil, relaxing environment to provide flare vein / thread vein treatments.
        p
          | Bookings can be made direct with the Spa on 01252 731342.

        p
          a(href="/dl") More information ...