section.associations
  .container
    .row
      .col-sm-3.col-md-3
        img.association-img(src="/img/associations/nhs-frimleypark-logo.png")
      .col-sm-3.col-md-3
        img.association-img(src="/img/associations/parkside-logo.jpg")
      .col-sm-3.col-md-3
        img.association-img(src="/img/associations/claire-park-logo.png")

      .col-sm-3.col-md-3
        img.association-img(src="/img/associations/RCS-royal-college-surgeons-logo.png")
      .col-sm-3.col-md-3
        img.association-img(src="/img/associations/bsir-logo.png")
      .col-sm-3.col-md-3
        img.association-img(src="/img/associations/cirse-logo.png")
      .col-sm-3.col-md-3
        img.association-img(src="/img/associations/bset-logo.png")
