section#footer
  .container.footer-contacts
    .row
      .col-md-3
        h4 NHS Patients
        p Secretary: Eileen Kean
        p Frimley Health NHS Foundation Trust, Portsmouth Road, Frimley, Surrey GU16 7UJ
        p T: #[a(href="tel:01276 604772" onClick="ga('send', 'event', 'telephone', 'nhs', 'footer');") 01276 604772]

        //- Ref for email hiding http://www.labnol.org/internet/hide-email-address-web-pages/28364/
        p
          | E: eileen
          span.dumdum elele
          |.kean@fhft
          span.dumdum parklife
          |.nhs.uk

      .col-md-3
        h5 Locations
        p Royal Surrey County Hospital<br/>Guildford
        p Haslemere Hospital
        p Brants Bridge Clinic

      .col-md-3
        h4 Private Patients
        p Secretary: Denise Metcalfe
        p 2nd Floor, The Parkside Suite, Frimley Park Hospital, Portsmouth Road, Surrey GU16 7UJ
        p T: #[a(href="tel:0800 020 9511" onClick="ga('send', 'event', 'telephone', 'freephone', 'footer');") 0800 020 9511]
        p
          | E: mail@surrey
          span.dumdum life
          | vascular
          span.dumdum great
          | surgeon.com

      .col-md-3
        h5 Locations
        p The Parkside Suite </br>Frimley Park Hospital
        p Spire Claire Park Hospital<br/>Crondall Lane, Farnham, Surrey GU10 5XX

    #footer-social-section.row
      .col-md-12
        ul.text-center.footer-social
          li.socials-icons
            a.facebook(href='https://www.facebook.com/surreyvascularsurgeon', data-toggle='tooltip', title='Facebook')
              i.fa.fa-facebook

          li.socials-icons
            a.twitter(href='https://twitter.com/nevilledastur', data-toggle='tooltip', title='Twitter')
              i.fa.fa-twitter

          li.socials-icons
            a.linkedin(href='https://www.linkedin.com/in/nevilledastur' data-toggle='tooltip', title='LinkedIn')
              i.fa.fa-linkedin

          li.socials-icons
            a.google-plus(href='http://plus.google.com/105301865890592915489', data-toggle='tooltip', title='Google +')
              i.fa.fa-google-plus
    .row
      .col-md-12.disable-col-md-offset-1
        .copy-right-text.text-center
          hr
          | Please be aware that the information on this website is not a substitute for medical advice or treatment. It is always
          | recommended that you have an individual consultation with your doctor or healthcare professional about your particular
          | symptoms and treatment options.
          hr
          | Copyright 2015 &copy; Surrey Vascular Surgeon. &nbsp;&nbsp;
          | Site Built by #[a(href="http://www.clinsoftsolutions.com") Clinical Software Solutions]
