section.navs
  nav.navbar.navbar-default.navbar-static-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav-bar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.pull-left(href="/")
            img.logo-img(src="/img/logo-blue-green.png")
    
      //- Collect the nav links, forms, and other content for toggling
      #main-nav-bar.collapse.navbar-collapse

        ul.nav.navbar-nav.navbar-right
          li(class=document.TopMenuCategory==="Home"?"active":"")
            a(href='/') Home

          li(class=document.TopMenuCategory==="Treatments"?"active":"")
            a.dropdown-toggle(href='#' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Treatments
              span.caret

            ul.dropdown-menu
              li
                a(href='#') Abdominal Aortic Aneursym
                a(href='#') Varicose Veins

          li(class=document.TopMenuCategory==="FAQs"?"active":"")
            a(href='/faq.html') FAQs

          li(class=document.TopMenuCategory==="Contact"?"active":"")
            a(href='/contact.html') Contact

