---
title: "Abdominal Aortic Aneursym"
layout: "default"
TopMenuCategory: "Treatments"
scripts: ['']
priority: 1.0
---

block content
  section.heading-treatments
    .treatments-inner
      .container
        .row
          .col-md-8
            h1 Abdominal Aortic Aneursym

            p
              | An aneursym is a swelling in an artery (blood vessel). An Abdominal Aortic Aneursym
              | (or AAA) occurs in the main blood vessel that comes out of the heart and decsends
              | down through the chest and into the abdomen supplying the guts, kidneys and other
              | organs. The aorta then splits to supply blood to the buttocks and legs.

            p
              | A normal aorta is 2cm in diameter and anything over 3cm is considered an aneursym. As
              | an aneursym grows in size there is a risk that it can burst (rupture), however that risk
              | is small when the aneursym is small. Below 4cm the annual rupture risk is 0.5%
            p
              | As the operations to repair a AAA carries a risk of complications and
              | a small risk of death we generally recomend that aneursyms are only treated
              | once they are 5.5cm or larger. Below this size your aneursym will be reviewed
              | regularily with an ultrasound scan.