---
title: "Abdominal Aortic Aneurysm"
layout: "default"
TopMenuCategory: "Treatments"
scripts: ['']
priority: 1.0
---

block content
  section.heading-treatments
    .treatments-inner
      .container
        .row
          .col-md-12
            h1 Abdominal Aortic Aneurysm

  section.content-treatments
    .contents-inner
      .container
        .row
          .col-md-12

            img.border-img.img-responsive(src="/img/aortic_aneurysm.jpg" align="right" alt="Diagram showing aneursyms")

            h2 What is an Aneurysm (AAA)

            hr

            p
              | An aneurysm is a swelling in an artery (blood vessel). An Abdominal Aortic Aneurysm
              | (or AAA) occurs in the main blood vessel that comes out of the heart and descends
              | down through the chest and into the abdomen supplying the guts, kidneys and other
              | organs. The aorta then divides to supply blood to the buttocks and legs.

            p
              | A normal abdominal aorta is 2 cm in diameter and anything over 3 cm is considered an aneurysm. As
              | an aneurysm grows in size there is a risk that it can burst (rupture). If this happens
              | there is significant bleeding and the result is often fatal. However that risk
              | is small when the aneurysm is small. Below 4 cm the annual rupture risk is tiny at 0.5%

            h2 Symptoms

            p
              | Most aneurysms do not cause any symptoms and so patients generally do not know they
              | have an aneurysm. Some patients may feel a pulsatile swelling in their abdomen (tummy)
              | and rarely the aneurysm can causes clots to fly of down to the legs and feet.

            p
              | If an aneurysm ruptures (bursts) then the patient will get a sudden pain, usually in
              | the back and possibly in the abdomen. The pain may spread down into the groin area.
              | Because of the bleeding a patient may collapse and become pale.

            p
              | A ruptured aneurysm is an emergency that a 999 ambulance should be called for.

            h2 Diagnosis

            p
              | In most cases an abdominal aortic aneurysm can be diagnosed and screened for with
              | a simple ultrasound test. The size of the aneurysm can be determined and if regular
              | size measurements are required then the aneurysm can be followed using ultrasound
              | too.

            h2 Treatments

            p
              | At present treatment consists of three options.
              ol
                li Regular ultrasound follow up measurements
                li Open surgical repair
                li Endovascular (minimally invasive) repair, known as EVAR or EVAS

              | In all cases it is important address other factors that include:

              ul
                li Stopping smoking
                li Lowering cholesterol and starting on a statin tablet (e.g. Simvastatin). This has been shown to be of benefit even if your cholesterol is normal.
                li Control of blood pressure

            p
              | The operation to repair and aneurysm does have some risks. An abdominal
              | aortic aneurysm that measures less than 5.5 cm has a very low risk of rupture
              | and the risks of repair are greater. That is why it is usual for your surgeon
              | to only offer a repair if your aneurysm measures 5.5 cm or greater or if your
              | aneurysm starts to grow rapidly.

            h3 Open Surgical Repair

            p
              | This is the traditional method of repairing an abdominal aortic aneurysm.
              | Invariably a general anaesthetic is required and the operation involved the
              | abdomen being opened for direct access to the aneurysm. The weakened area is then
              | identified an clamps placed above and below that area to stop blood flow. The
              | aneurysm is then opened and a synthetic graft is sewn in place to replace the
              | weak section. This can either be a straight tube of one that splits like an
              | upside down Y to the arteries that supply each leg.

            p
              | This surgery takes about 3-6 hours and a patient can expect to stay in hospital for
              | between 3 and 8 days.

            h3 Minimally invasive EVAR / EVAS

            img.border-img.img-responsive(src="/img/endovascular_aneurysm_repair.jpg" align="right" alt="How to do endovascular aneurysm repair")

            p
              | Endovascular aneurysm repair is a newer technique that works by lining the aneurysm
              | from the inside. However, it now has been established practise for around 10 years.
            p
              | Access to the aneurysm is obtained by small cuts in the groins exposing the femoral
              | vessels. Guide wires are placed using x-ray guidance to visualise the inside
              | of the body. The stent graft is then delivered along the wires into the correct
              | position and released into place.

            p 
              | The most common stent graft (EVAR) procedure places the graft below the kidney
              | arteries.

            p
              | Not all aneurysms can treated with a standard stent graft that sits below the kidney
              | arteries. And sometimes the blood vessels below the aneurysm prevent access and so a
              | stent graft can not be placed.

            p
              | If there isn't space below the kidney arteries to place a stent graft then a custom
              | made device can be manufactured with holes for the kidney and gut arteries cut out
              | to allow a graft to placed across them and little stents bridge between the main
              | stent graft and the branch arteries. This is called a fenestrated or branched custom
              | stent graft.

            h3 Nellix EVAS

            img.border-img.img-responsive(src="/img/Nellix_EVAS.png" align="left" alt="Nellix EVAS diagram")

            p
              | The Nellix device is a recent advance in minimally invasive (endovascular) aneurysm
              | repair. A standard device works by sealing at the top and bottom of the aneurysm, whereas
              | the Nellix device works by sealing within the entire aneurysm. The stents have a expandable
              | bag attached to them which is filled with a polymer during the repair. The polymer sets hard
              | and seals the aneurysm.

            img.border-img.img-responsive(src="/img/nellix_fix_vs_seal.png" align="right" alt="Nellix sealing vs fixation")

            p
              | A standard EVAR stent graft requires a straight length of artery at the top and bottom to seal
              | against. The Nellix stent graft seals in a different way. The sealing bags that surround the stents can
              | adapt to different shapes and so aneurysms that are irregular at the top or bottom can also be treated with
              | this graft.
