---
title: "Abdominal Aortic Aneursym"
layout: "default"
TopMenuCategory: "Treatments"
scripts: ['']
priority: 1.0
---

block content
  section.heading-treatments
    .treatments-inner
      .container
        .row
          .col-md-12
            h1 Abdominal Aortic Aneursym

            img.border-img.img-responsive(src="/img/aortic_aneurysm.jpg" align="right")

            p
              | An aneursym is a swelling in an artery (blood vessel). An Abdominal Aortic Aneursym
              | (or AAA) occurs in the main blood vessel that comes out of the heart and decsends
              | down through the chest and into the abdomen supplying the guts, kidneys and other
              | organs. The aorta then divides to supply blood to the buttocks and legs.

            p
              | A normal abdominal aorta is 2cm in diameter and anything over 3cm is considered an aneursym. As
              | an aneursym grows in size there is a risk that it can burst (rupture). If this happens
              | there is significant bleeding and the result is often fatal. However that risk
              | is small when the aneursym is small. Below 4cm the annual rupture risk is 0.5%

            h2 Symptoms

            p
              | Most aneursyms do not cause any symptoms and so patients generally do not know they
              | have an aneursym. Some patients may feel a pulsitile swelling in their abdomen (tummy)
              | and rarely the aneursym can causes clots to fly of down to the legs and feet.

            p
              | If an aneursym ruptures (bursts) then the patient will get a sudden pain, usually in
              | the back and possibily in the abdomen. The pain may spread down into the groin area.
              | Because of the bleeding a patient may collapse and become pale.

            p
              | A ruptured aneursym is an emergency that a 999 ambulance should be called for.

            //- p
            //-   | As the operations to repair a AAA carries a risk of complications and
            //-   | a small risk of death we generally recomend that aneursyms are only treated
            //-   | once they are 5.5cm or larger. Below this size your aneursym will be reviewed
            //-   | regularily with an ultrasound scan.