---
title: "Carotid Surgery"
layout: "default"
TopMenuCategory: "Treatments"
scripts: ['']
priority: 1.0
---

block content
  section.heading-treatments
    .treatments-inner
      .container
        .row
          .col-md-12
            h1 Carotid Surgery for Strokes
