---
title: "Carotid Surgery for Strokes"
layout: "treatment"
scripts: ['']
priority: 0.8
description: "What is Carotid Artery disease. How is it related to strokes and how do we find it, treat it and what to expect afterwards"
---

block content

  img.border-img.img-responsive(src="/img/carotid_artery_cea.jpg" align="right" alt="Diagram showing carotid artery anatomy and disease")

  h2 Carotid Artery Disease
  hr

  p
    | The carotid arteries lie on each side the neck and are one of four arteries that supply the brain with a blood supply. The other two
    | being the left and right vertebral arteries. These arteries commonly join in the head to form a circle. They are essential to supply
    | the brain with oxygen and nutrients in order to maintain proper function.

  p
    | Carotid artery disease is the build up of plaque (atherosclerosis) within the vessel that causes it to narrow (a stenosis). This
    | process is commonly referred to as "furring up of the arteries".

  p
    | If the plaque becomes irregular / unstable then clot can develop on it and that clot or some of the plaque can break away and
    | go up to the brain. This causes a blockage in one of the smaller brain arteries and results in a stroke or mini-stroke (TIA).

  h2 Symptoms of TIAs / strokes
  hr

  p
    | Weakness, slurring of speech or numbness can occur of the face or arms / legs. The vision can also be affected and
    | is known as Amaurosis Fugax. Typically, the visual disturbance experienced is like a curtain coming down over the eye.

  h2 What causes Carotid Artery Disease
  hr

  p
    | The causes of carotid artery disease are same as all the other cardiovascular diseases
  ul
    li Smoking
    li High blood pressure
    li Diabetes
    li High cholesterol and high fat diets

  h2 Diagnosis of Carotid Disease
  hr

  p
    | Initially an specialised ultrasound scan of the neck will be performed which finds out if there is a narrowing in the
    | carotid artery and more specifically in the internal carotid artery that is the branch that supplies the brain. The
    | ultrasound scan will also tell your doctor how tight the narrowing (stenosis) is and grade it.

    table.table.table-bordered
      thead
        tr
          td Grade
          td Stenosis
      tbody
        tr
          td Mild
          td 0 - 49%
        tr
          td Moderate
          td 50-69%
        tr
          td Severe
          td 70 - 99%
        tr
          td Occluded
          td 100%

  p
    | It is common for a second form of imaging, either CT scan or MRI scan to takes place too which confirms the findings but
    | gives more information to your surgeon.

  p
    | It is important to remember that opposite sides of the brain control opposite sides of the body. And so if you suffered from
    | <b>left arm weakness</b>, your doctor will be interested in narrowing on the <b>right</b> carotid artery.

  h2 Treatment of Carotid Disease
  hr

  p
    | All patients will be started on "best medical therapy" which consists of an anti-platelet drug (aspirin, clopidogrel) and
    | a statin (e.g. simvastatin)

  p
    | If the ultrasound shows that you have a moderate or severe stenosis in the internal carotid artery surgery will be considered.
    | If you have a mild stenosis then the risks of surgery out weight any benefit from an operation. And if your artery is occluded there
    | is also no benefit from surgery as clots/plaque can no longer pass the occlusion and so can not get to the brain.

  h3 Surgery for carotid disease
  hr

  p 
    | The surgical procedure is called a carotid endarterectomy. The procedure can be carried out under both general and local
    | anaesthetic. And a large trial of thousands of patients has shown no difference in outcome between the two techniques. So
    | the choice will be made as a discussion between you and your surgeon.

  p
    | One the morning of your procedure you will commonly have a repeat ultrasound to make sure the carotid artery has not
    | blocked.
  p
    | A carotid endarterectomy takes between 1 &frac12; and 3 hours to perform. The side of the operation usually requires shaving
    | and a vertical incision is usually made to access the artery. The surgeon then needs to clamp the artery to halt the blood flow
    | and the artery is opened. A shunt may be used, especially if under a general anaesthetic. The inner lining is then carefully
    | removed leaving a smooth surface. The artery is usually closed using a patch. The surgeon will ensure there is no bleeding,
    | however a drain is usually left in place for the first 24 hours.

  h3 Risks from carotid endarterectomy
  hr

  p
    | The risks from surgery are related to having an operation and the fact that the artery to the brain needs to be clamped
    | to halt blood flow. There are also a number of nerves in close proximity that can be temporarily or permanently injured.
    | The risks are:
    ul
     li Infection (at the site of surgery or chest, urinary track)
     li Bleeding, because the artery has to be opened and closed, but also veins around the artery. Additionally, patients are given medication to thin the blood. Very rarely patients need to return to theatre to have bleeding stopped
     li Stroke. The average risk from the operation is quoted as 2%
     li Having a heart attack
     li Nerve injuries. Almost all patients experience numbness under the chin and often behind the ear. Other more significant nerve injuries can affect the voice or the ability to swallow. In very rare circumstances the nerve affecting the ability to swallow means the patient has to fed via a tube for a period of months. This risk is less than 1 in 1000.
     li Re-stenosis, i.e. narrowing of the artery years after the operation.
     li Death. Some of the above complications mean that there is a 1% risk.

  p
    | There are factors such as age, smoking, female sex, having had a previous stroke, carotid disease on the other side and other health conditions
    | that might increase the above risks. This will be discussed on an individual basis with you by your surgeon.

