---
title: "Carotid Surgery"
layout: "default"
TopMenuCategory: "Treatments"
scripts: ['']
priority: 1.0
---

block content
  section.heading-treatments
    .treatments-inner
      .container
        .row
          .col-md-12
            h1 Carotid Surgery for Strokes

  section.content-treatments
    .contents-inner
      .container
        .row
          .col-md-12

            img.border-img.img-responsive(src="/img/carotid_artery_cea.jpg" align="right" alt="Diagram showing carotid artery anatomy and disease")

            h2 Carotid Artery Disease
            hr

            p
              | The carotid arteries lie on each side the neck and are one of four arteries that supply the brain with a blood supply. The other two
              | being the left and right vertebral arteries. These arteries commonly join in the head to form a circle. They are essential to supply
              | the brain with oxygen and nutrients in order to maintain proper function.
