---
title: "Contact"
layout: "default"
TopMenuCategory: "Contact"
scripts: ['js/contact.js']
priority: 0.5
description: "Surrey Vascular Surgeon contact information and online form"
---

block content
  section.contact-us-header
    .contact-us-header-wrapper
      .container
        .row
          div
            h1.text-center Contact

  section.contact-content.section-with-top-bottom-padding
    .container
      .row
        .col-md-6
          .quick-contact
            h3 Main Office Contact Details
            hr
            .row
              .col-md-6
                .row
                  .col-md-2
                    p
                      i.fa.fa-home
                  .col-md-10
                    p
                      | c/o Denise Metcalfe<br/>
                      | 2nd Floor, The Parkside Suite<br/>
                      | Frimley Park Hospital<br/>
                      | Portsmouth Road<br/>
                      | Camberley<br/>
                      | GU16 7UJ
              .col-md-6
                p
                  i.fa.fa-phone
                  span Telephone: <a href="tel:0800 020 9511">0800 020 9511</a>
                p
                  i.fa.fa-fax
                  span Fax: 01276 526868
            
            .row
              .col-md-12
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d137603.60800422137!2d-0.8667334759008275!3d51.28207090738536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875d5373ccae2db%3A0xb8e4fd9cabb11e36!2sSurrey+Vascular+Surgeon!5e0!3m2!1sen!2suk!4v1446941856389" width="400" height="300" frameborder="0" style="border:0" allowfullscreen)

        .col-md-6
          h3 Online Contact
          hr
          .row
            form#contact_form.well.form-horizontal(action='#', method='post')
              //-input(type="hidden" name="_next" value="/")
              input(type="hidden" name="_subject" value="Surrey Vascular Surgeon Contact")
              input(type="text" name="_gotcha" style="display:none")

              fieldset
                .form-group
                  label.col-md-4.control-label Full Name
                  .col-md-8.inputGroupContainer
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                      input.form-control(name='full_name', placeholder='Full Name', type='text')

                .form-group
                  label.col-md-4.control-label E-Mail
                  .col-md-8.inputGroupContainer
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-envelope
                      input.form-control(name='email', placeholder='E-Mail Address', type='text')

                .form-group
                  label.col-md-4.control-label Phone
                  .col-md-8.inputGroupContainer
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-earphone
                      input.form-control(name='phone', placeholder='Phone number ...', type='text')

                .form-group
                  label.col-md-4.control-label Contact reason
                  .col-md-8.selectContainer
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-list
                      select.form-control.selectpicker(name='state')
                        option(value=' ') Please select reason for contact
                        option Abdominal Aortic Aneursym
                        option Carotid Surgery for Stroke
                        option Varicose veins
                        option Other

                .form-group
                  label.col-md-4.control-label Clinic Type
                  .col-md-8
                    .radio
                      label
                        input(type='radio', name='clinic_type', value='nhs')
                        |  NHS
                    .radio
                      label
                        input(type='radio', name='clinic_type', value='private')
                        |  Private

                .form-group
                  label.col-md-4.control-label Message
                  .col-md-8.inputGroupContainer
                    .input-group
                      span.input-group-addon
                        i.glyphicon.glyphicon-pencil
                      textarea.form-control(name='comment', placeholder='Message ...')

                #contact-success.alert.alert-success.collapse(role='alert')
                  | Success 
                  i.glyphicon.glyphicon-thumbs-up
                  |  Thanks for contacting us, we will get back to you shortly.

                #contact-fail.alert.alert-danger.collapse(role='alert')
                  | Failed to send.
                  | Thank you for trying to contacting us, unfortunitly the message did not send. Please try again later.

                .form-group
                  label.col-md-4.control-label
                  .col-md-8
                    //-input.btn.btn-primary.send(type='submit', value='Send')
                    button.btn.btn-primary.send(type='submit', value="Send")
                      | Send 
                      span.glyphicon.glyphicon-send

