---
title: "Amida Spa David Lloyd"
layout: "default"
TopMenuCategory: ""
scripts: ['/js/dl.js']
priority: 0.7
description: "Thread and flare vein clinic run at the Amida Spa David Lloyd, Farnham"
---

block content
  != partial('ga_conversions_spa')

  section.heading-dl
    .heading-inner-dl
      .container
        .row
          .col-md-8
            h1
              | Consultant Surgeon Vein Treatment
              br
              | Amida Spa David Lloyd

  section.content-dl(itemscope itemtype="http://schema.org/MedicalCondition")
    .contents-inner
      .container
        .row
          .col-md-12
            img.img-responsive.pull-right(src="/img/spider_veins.jpg" width="150" alt="Spider Veins")

            h2 <span itemprop="name">Spider, Thread, Flare, and Varicose Vein</span> Treatments
            p
              | Within the relaxing environment of the Amida Spa Farnham I offer treatment for flare, thread, spider and
              | varicose veins. Open to David Lloyd members as well as Non-Members.

            //- .col-md-3.col-sm-6
            //-   img(src="/img/dl/AmidaSpaLogo.png" width="150" alt="David Lloyd Amida Spa Logo")

            h3 What are Spider, Flare Veins
            p(itemprop="signOrSymptom" itemscope itemtype="http://schema.org/MedicalSymptom")
              | Flare veins (also known as thread or broken veins) are tiny surface veins that can appear blue, red
              | or pale green. They can be on any part of the body but are most commonly treated on the legs and face.
              | They 
              span(itemprop="name") ache 
              | and sometimes 
              span(itemprop="name") itch.

            p We offer treatment with Micro Sclerotherapy.
            
            h3 What are Varicose Veins
            p
              | Varicose veins are bigger, blue veins that often bulge but can be flat. They also occur on the legs
              | and are often caused by a defect in the veins. If the varicose veins are minor they can be treated with
              | injection sclerotherapy too. This will be discussed during your consultation.


            h3(itemprop="possibleTreatment" itemscope itemtype="http://schema.org/MedicalTherapy")
              span(itemprop="name") Vein Sclerotherapy
            p
              | Sclerotherapy involves injecting a small volume of a irritant liquid into affected veins. The liquid acts
              | upon the lining of the vein to cause it to seal shut, eliminating the visibility of the  vein. Sclerotherapy
              | can be quickly performed at our clinic and no anaesthesia is required.

        .row
          .col-md-12
            h3 What to Expect
            p
              | When injected, the vein disappears, but then almost immediately becomes red and inflamed. The leg can
              | ache after treatment and this is a consequence of the irritant liquid working. The inflammation settles
              | over a period of days and the vein then becomes scarred and shrinks over weeks. It should settle
              | completely by six weeks. A final result may take up to six months.

            img.img-responsive.pull-right(src="/img/dl/amida-spa-farnham-room.png" width="300" alt="David Lloyd Amida Spa Rooms")

            h3 Cost and Booking
            p Injection Session Price £230

            p No obligation, advisory consultation is FREE.

            p.small
              | (A £10 booking fee is taken which is
              | deducted from any further treatments or refunded if no treatment is required. To cancel
              | a booking 48 hours notice is required)

            p
              | I provide the treatment myself as a
              | &nbsp;
              a(href="/#profile") Vascular Consultant Surgeon
              | &nbsp;
              | at the Amida Spa, Farnham. To arrange a
              | consultation or to book a
              | treatment please contact the Spa reception team on <a href="tel:01252 731342" onClick="ga('send', 'event', 'CTASpa', 'call', 'top'); goog_report_conversion ('https://www.surreyvascularsurgeon.com/dl');">01252 731342</a> or
              | email <a href="mailto:spa.farnham@davidlloyd.co.uk" onclick="ga('send', 'event', 'CTASpa', 'email', 'spa.farnham@davidlloyd.co.uk'); goog_report_conversion ('https://www.surreyvascularsurgeon.com/dl');">spa.farnham@davidlloyd.co.uk</a>

        .row(style="padding-top: 1em; padding-bottom: 1em;")
          .col-md-12
            hr

        .row
          .col-md-5
            h2 Amida Spa Location

            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.576082069231!2d-0.7792056842403079!3d51.226884479590005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x7cd4a632882ad25c!2sAmida+Spa+Farnham!5e0!3m2!1sen!2suk!4v1451776951490" width="400" height="300" frameborder="0" style="border:0" allowfullscreen)

          mixin faq_item(id, title)
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#faq_accordion', href='#faq_collapse#{id}') #{title}

              div(id='faq_collapse#{id}').panel-collapse.collapse
                .panel-body
                  if block
                    block
                  else
                    p Error: No answer

          .col-md-7
            h2 Frequently Asked Questions
            #faq_accordion.panel-group

              +faq_item('_how_does_sclerotherapy_work', 'How does sclerotherapy work ?')
                p
                  | Using a very fine needle, I can inject the sclerosant into the veins you wish treated.
                  | The sclerosant irritates the vein and causes it to scar and then shrink away. The vein then
                  | fades over time.

              +faq_item('_treatment_areas', 'Which areas can be treated ?')
                p
                  | Any area can be treated, but most commonly the legs and face are affected and therefore
                  | treated. If you need treatment to your face we recommend that a local anaesthetic cream
                  | is applied prior to sclerotherapy as the face is a sensitive area.

              +faq_item('_need_to_stay', 'Do I need to stay after treatment ?')
                p
                  | No. Straight after the treatment you can walk out and you will be able to drive yourself
                  | home if required. You leg may ache a little due to the irritation. You can take some paracetamol
                  | to help, but the majority of patients do not need this either.

              +faq_item('_results', 'How long does it take to see a result ?')
                p
                  | Initially, the treated veins will look worse before they look better as the injection causes
                  | an irritation to do it's job. The process of scarring and shrinking away takes between 4-6 weeks
                  | but can take up to 6 months.

              +faq_item('_clothing', 'Should I wear anything special ?')
                p
                  | It is  better if you don't wear light or white clothing on your legs as sometimes the injection site
                  | may bleed a little. Looser clothes are better as you may find that more comfortable afterwards.

              +faq_item('_preparation', 'Do I need to prepare prior to treatment ?')
                p
                  | There is nothing special you need to do. The sclerosant works by inflaming the vein so I recommend
                  | avoiding anti-inflammatory medicines (such as aspirin, ibuprofen) 48 hours before and after treatment.

              +faq_item('_things_to_avoid', 'Should I avoid anything after treatment ?')
                p
                  | You will be able to walk out after the treatment and resume normal activities straight away. I
                  | recommend not soaking in a hot bath, going to a Spa or direct sun exposure for 1 week after the
                  | treatment as this can dilate your veins and may cause the treatment not to work. You can resume
                  | exercise 24 hours afterwards and it is safe to fly.

              +faq_item('_is_sclerotherapy_new', 'Is sclerotherapy a new treatment ?')
                p
                  | Sclerotherapy for veins is not a new treatment. It has been used since the 1930s for treatment and a
                  | number of research papers have shown that it works.

              +faq_item('_is_sclerotherapy_effctive', 'Is sclerotherapy effective ?')
                p
                  | Studies have shown that around 70% of veins treated this way show a marked improvement. It is common
                  | to require more than one session for treatment. A maximum dose restricts the total area that can be
                  | treated in one sitting. The area that can be treated will be discussed with you prior to any treatment
                  | commencing.

              +faq_item('_sclerotherapy_risks', 'Are there any risks from sclerotherapy ?')
                P
                  | After treatment your legs may ache or feel itchy. The site of injection can become red and a
                  | little swollen. This should settle within days.
                p
                  | Some patients experience bruising around the injection site or may get small skin sores or ulcers. This
                  | is more common if the ankle area is treated.

                p
                  | The skin area over the injection site can become darken or stained with a brownish discolouration. If
                  | this occurs it usually fades, but can take up to a year.

                p
                  | Any harmful risks of sclerotherapy are rare. Some people will be allergic to the solution and may
                  | get an allergic reactions. Under very rare circumstances DVT and visual disturbances have been reported.

        .row(style="padding-top: 1em; padding-bottom: 1em;")
          .col-md-12
            hr

        .row.well
          .col-md-12
            .row
              .col-md-6.col-md-offset-3
                #cta_failed.alert.alert-danger.alert-dismissible(role="alert")
                  button.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
                  strong Error! 
                  | Sorry, but the details haven't been sent.
                  br
                  | Please try again in a moment or call us if the error persists.

                #cta_display
                  h3.text-center Make an enquiry or arrange an appointment
                  form#cta_dl(name="DLSpaContactForm" action='#' netlify netlify-honeypot="address_ignore")
                    #inputEmailGroup.form-group.text-center
                      label(for="inputEmail") Your Email
                      .input-group
                        span.input-group-addon @
                        input#inputEmail.text-center.form-control(type="email" name="email" minlength="5" placeholder="name@email.com" required)
                      span#inputEmailStatus.help-block  

                    #inputTelGroup.form-group.text-center
                      label(for="inputTel") Contact Telephone Number
                      .input-group
                        span.input-group-addon
                          span.glyphicon.glyphicon-phone-alt
                        input#inputTel.text-center.form-control(type="tel" name="telephone" minlength="7" placeholder="" required)
                      span#inputTelStatus.help-block  

                    #inputNameGroup.form-group.text-center
                      label(for="inputName") Your Name
                      .input-group
                        span.input-group-addon
                          span.glyphicon.glyphicon-user
                        input#inputName.text-center.form-control(type="text" name="name" minlength="3" placeholder="")
                      span#inputNameStatus.help-block  

                    .form-group.text-center
                      select(name="ContactReason").form-control
                        option(selected disabled) (Please select an option...)
                        option I would like to arrange an appointment
                        option I would like to get more information
                        option I have a question to ask
                        option Other

                    span(style="display: none;")
                      label Name
                      input(name="address_ignore")

                    .form-group.text-center
                      button#sendcta.btn.btn-success(type="submit" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending ..." ) Send
                      br
                      h4 Or
                      h4 Call <a href="tel:01252 731342" onClick="ga('send', 'event', 'CTASpa', 'call', 'bottom'); goog_report_conversion ('https://www.surreyvascularsurgeon.com/dl');" >01252 731342</a>

                #cta_sent.text-center
                  h3 Thank you for contacting us
                  p We will get back to you as soon as possible.

  //
    Google Code for Website Contact Conversion Page
    In your html page, add the snippet and call
    goog_report_conversion when someone clicks on the
    chosen link or button. 
  script(type='text/javascript').
    /* <![CDATA[ */
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 947644472;
      w.google_conversion_label = "T6o1COOIoGYQuNDvwwM";
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      }
      var conv_handler = window['google_trackConversion'];
      if (typeof(conv_handler) == 'function') {
        conv_handler(opt);
      }
    }
    /* ]]> */
  script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion_async.js')
