---
title: "Amida Spa David Lloyd"
layout: "default"
TopMenuCategory: ""
scripts: ['']
priority: 0.7
description: "Thread and flare vein clinic run at the Amida Spa David Lloyd, Farnham"
---

block content
  section.heading-dl
    .heading-inner-dl
      .container
        .row
          .col-md-6
            h1
              | Vein Treatment
              br
              | Amida Spa David Lloyd

  section.content-dl
    .contents-inner
      .container
        .row
          .col-md-9
            h2 Flare / Thread and Varicose Vein Treatments
            p
              | Within the relaxing environment of the Amida Spa Farnham we offer treatment for flare, thread and
              | varicose veins. Open to David Lloyd members and Non-Members.

          .col-md-3
            img(src="/img/dl/AmidaSpaLogo.png" width="150" alt="David Lloyd Amida Spa Logo")


        .row
          .col-md-12
            img.img-responsive.pull-right(src="/img/dl/amida-spa-farnham-room.png" width="300" alt="David Lloyd Amida Spa Rooms")

            h3 What are flare veins
            p
              | Flare veins (also known as thread or broken veins) are tiny surface veins that can appear blue, red
              | or pale green. They can be on any part of the body but are most commonly treated on the legs and face.

            p We offer treatment with Micro Sclerotherapy.
            
            h3 What are Varicose Veins
            p
              | Varicose veins are bigger, blue veins that often bulge but can be flat. They also occur on the legs
              | and are often caused by a defect in the veins. If the varicose veins are minor they can be treated with
              | injection sclerotherapy too. This will be discussed during your consultation.


            h3 Vein Sclerotherapy
            p
              | Sclerotherapy involves injecting a small volume of a irritant liquid into affected veins. The liquid acts
              | upon the lining of the vein to cause it to seal shut, eliminating the visibility of the  vein. Sclerotherapy
              | can be quickly performed at our clinic and no anaesthesia is required.

            h3 What to expect
            p
              | When injected, the vein disappears, but then almost immediately becomes red and inflamed. The leg can
              | ache after treatment and this is a consequence of the irritant liquid working. The inflammation settles
              | over a period of weeks and should settle completely by six weeks.

            p
              | Other risks include: allergic reactions, bruising, small skin sores or ulcers, darkening of the skin.

            p
              | There are limits to the area that can be treated in each sitting and sometimes an area will need to be treated more than once.

            h3 Cost and Booking
            p No obligation, advisory consultation FREE
            p Injection Session Price £230

            p
              | Treatment is provided by Vascular Specialists at Amida Spa Farnham. To arrange a consultation or to book a
              | treatment please contact the Spa reception team on 01252 731342 or email spa.farnham@davidlloyd.co.uk

        .row
          .col-md-12
            h2 Amida Spa Location

            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.576082069231!2d-0.7792056842403079!3d51.226884479590005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x7cd4a632882ad25c!2sAmida+Spa+Farnham!5e0!3m2!1sen!2suk!4v1451776951490" width="400" height="300" frameborder="0" style="border:0" allowfullscreen)
