---
title: "Home"
layout: "default"
TopMenuCategory: "Home"
scripts: ['']
priority: 1.0
header_light: true
---

block content
  section.heading-mainpage
    .mainpage-inner
      .container
        .row
          .col-sm-12.col-md-12
            h1 Modern Vascular Treatment

            h2
              | Neville Dastur is a consultant vascular surgeon working at 
              a(href="http://www.frimleyhealth.nhs.uk/") Frimley Health NHS Trust 
              | , the first NHS Trust to receive 
              | a #[a(href="http://www.cqc.org.uk/provider/RDU") CQC Outstanding Rating]

            h3 A range of conditions are treated and include:

            ul
              li Abdominal Aortic Aneursyms
              li Carotid Endarterectomy to prevent strokes
              li Arterial bypass
              li Varicose Veins (with EVLT / RFA / Sclerotherapy)
              li Inguinal and Abdominal wall hernia

          .col-md-3
            //- img(src="/img/nd.png" style="height:500px; margin-top: -80px;")

        //- .row
        //-   .col-sm-12.col-md-9.text-center
        //-     h3.margin-top-20
        //-       | Free 10 minute consultation offering impartial advice

        //- .row
        //-   .col-sm-12.col-md-9.text-center
        //-     .cta_form
        //-       form#cta-form.form-inline(action="#")
        //-         .form-group.form-group-lg
        //-           label.sr-only Email
        //-           input#email-cta.form-control.input-lg.cta-form-email(type="email" name="email" placeholder="Your Email ...")
        //-           button.btn.btn-success.btn-lg Send
        //-           //- Extra formspree.io fields
        //-           input(type="hidden" name="_next" value="/")
        //-           input(type="hidden" name="_subject" value="Surrey Vein Clinic 10 Minute Website Enquiry")
        //-           input(type="text" name="_gotcha" style="display:none")

        //-     #email-cta-success.margin-top-10.alert.alert-success.collapse(role="alert")
        //-       | Thank you for your email. We will be in touch soon.
        //-      #email-cta-fail.margin-top-10.alert.alert-danger.collapse(role="alert")
        //-       | We are sorry, but there was an error sending your request. Please try
        //-       | again or call our free number
        //-       | <a href="tel:0800 020 9511" class="alert-link">0800 020 9511</a>.

        //- .row
        //-   .col-sm-12.col-md-9.text-center
        //-     h4 Or free call on 
        //-       a(role="button", href="tel:08000209511") 0800 020 9511

  section.welcome-section
    .container
      .row
        .col-md-6
          .main-page-items
            h3.text-center Aneursyms
            p
              | An aneursym is a swelling of an artery (blood vessel). The
              | commonest ones we treat are in the abdomen, called abdominal
              | aortic aneursyms (AAA).
            p
              | Traditional treatment involved a surgical
              | cut in the tummy and repair by sewing in a graft.
              | A minimally invasive treatment called EVAR or EVAS can
              | now be carried out through small incisions in the groins
            p
              | During your consultation the options and suggested opertion
              | will be discussed with you.
            
            br
            .text-center
              a(href="#").flat-btn Read More ...

        .col-md-6
          .main-page-items
            h3.text-center Carotid Endarterectomy
            p
              | Just like arteries elsewhere in the body, the carotid artery
              | in the neck can become &quot;furred up&quot;. Patients may
              | come into hospital having had a mini-stroke (TIA). If you have
              | a mini stroke as part of the tests you have, someone will look
              | at your carotid artery with a ultrasound. If significant disease
              | is found it might be appropriate to have the artery cleared
              | out with an operation

            br
            .text-center
              a(href="#").flat-btn Read More ...
