---
title: "Mr Neville Dastur"
layout: "default"
TopMenuCategory: "Home"
scripts: ['']
priority: 0.8
description: "Mr Neville Dastur is a consultant vascular and endovascular surgeon. Qualified from Guy's and St Thomas' hospitals London. Has a specialist interest on minimally invasive surgery for diseases of veins and arteries."
---

block content
  section.heading-mainpage
    .mainpage-inner
      .container
        .row
          .col-md-8
            h1 Neville Dastur MBBS FRCS MD

            h2 Consultant Vascular and Endovascular Surgeon

            h3
              | Neville Dastur is a consultant surgeon working at 
              a(href="https://www.fhft.nhs.uk") Frimley Health NHS Trust 
              | , the first English NHS Trust to receive 
              | a #[a(href="http://www.cqc.org.uk/provider/RDU") CQC Outstanding Rating]

            h3
              | Private patients can be seen at the #[a(href="http://www.parkside-suite.org.uk") Frimley Parkside Suite] 
              | and #[a(href="http://www.spirehealthcare.com/clarepark") Spire Claire Park]

            //- != partial('amidaspa')

          .col-md-3.col-md-offset-1
            h3 Specialist Treatmemts

            ul.fa-ul
              li
                i.fa-li.fa.fa-angle-double-right
                a(href='/abdominal-aortic-aneurysm.html') Abdominal Aortic Aneursyms
              li
                i.fa-li.fa.fa-angle-double-right
                a(href='/carotid-surgery.html') Carotid Endarterectomy to prevent strokes
              li
                i.fa-li.fa.fa-angle-double-right
                | Arterial bypass
              li
                i.fa-li.fa.fa-angle-double-right
                a(href='/varicose-veins.html') Varicose Veins Treatment (using RFA Radiofrequency, EVLT Laser or Sclerotherapy)
              li
                i.fa-li.fa.fa-angle-double-right
                a(href='/thread-flare-spider-veins.html') Flare,Thread, Spider Veins
              li
                i.fa-li.fa.fa-angle-double-right
                | Diabetic Foot Disease
              li
                i.fa-li.fa.fa-angle-double-right
                | Inguinal and Abdominal wall hernia

  section.about#profile
    .container
      .row
        .col-sm-3.col-md-3.text-center
          img.img-thumbnail.border-img(src="/img/Neville_Dastur.png" alt="Neville Dastur")

        .col-sm-8.col-md-8
          h2 Profile
          p
            | I qualified from Guys and St Thomas' Hospital in 1997 and then worked in a number
            | of units across the south of England, completing my higher surgical training in the
            | South West Thames region. I undertook my endovascular fellowship back at St Thomas'
            | Hospital and then the Royal Sussex County Hospital, Brighton.

          p
            | I am a substantive NHS consultant surgeon at #[a(href="https://www.fhft.nhs.uk/") Frimley Park NHS Hospital] with a 
            | specialist interest in endovascular techniques
            | and interventional radiology. I jointly lead for vascular simulator training and
            | teach on a number of courses about vascular and general surgery (including the
            | Registrar Ready Course, St Thomas’ MRCS course and London post-graduate EVAR course).
            | I am the the vascular lead for the diabetic foot service
            | at #[a(href="http://royal-surrey.net/") Royal Surrey, Guildford Hospital] and 
            | lead on a new stent graft system called Nellix, used in the treatment of infra-renal and more complex aneurysms.

          p
            | I maintain an active research interest and I am the principal investigator at Frimley Park for the 3D image registration
            | mapping project for aortic aneurysm repair. I have published in a number of peer reviewed journals on general surgical
            | and vascular topics and presented at a number of National and International meetings.

          p
            | I am a director of a medical software company (
            a(href="http://www.clinsoftsolutions.com") Clinical Software Solutions
            | ) specialising in developing healthcare
            | software and mobile applications.


        //- .row
        //-   .col-sm-12.col-md-9.text-center
        //-     h3.margin-top-20
        //-       | Free 10 minute consultation offering impartial advice

        //- .row
        //-   .col-sm-12.col-md-9.text-center
        //-     .cta_form
        //-       form#cta-form.form-inline(action="#")
        //-         .form-group.form-group-lg
        //-           label.sr-only Email
        //-           input#email-cta.form-control.input-lg.cta-form-email(type="email" name="email" placeholder="Your Email ...")
        //-           button.btn.btn-success.btn-lg Send
        //-           //- Extra formspree.io fields
        //-           input(type="hidden" name="_next" value="/")
        //-           input(type="hidden" name="_subject" value="Surrey Vein Clinic 10 Minute Website Enquiry")
        //-           input(type="text" name="_gotcha" style="display:none")

        //-     #email-cta-success.margin-top-10.alert.alert-success.collapse(role="alert")
        //-       | Thank you for your email. We will be in touch soon.
        //-      #email-cta-fail.margin-top-10.alert.alert-danger.collapse(role="alert")
        //-       | We are sorry, but there was an error sending your request. Please try
        //-       | again or call our free number
        //-       | <a href="tel:0800 020 9511" class="alert-link">0800 020 9511</a>.

        //- .row
        //-   .col-sm-12.col-md-9.text-center
        //-     h4 Or free call on 
        //-       a(role="button", href="tel:08000209511") 0800 020 9511

  //- section.welcome-section
  //-   .container
  //-     .row
  //-       .col-md-6
  //-         .main-page-items
  //-           h3.text-center Aneursyms
  //-           p
  //-             | An aneursym is a swelling of an artery (blood vessel). The
  //-             | commonest ones we treat are in the abdomen, called abdominal
  //-             | aortic aneursyms (AAA).
  //-           p
  //-             | Traditional treatment involved a surgical
  //-             | cut in the tummy and repair by sewing in a graft.
  //-             | A minimally invasive treatment called EVAR or EVAS can
  //-             | now be carried out through small incisions in the groins
  //-           p
  //-             | During your consultation the options and suggested opertion
  //-             | will be discussed with you.
            
  //-           br
  //-           .text-center
  //-             a(href="#").flat-btn Read More ...

  //-       .col-md-6
  //-         .main-page-items
  //-           h3.text-center Carotid Endarterectomy
  //-           p
  //-             | Just like arteries elsewhere in the body, the carotid artery
  //-             | in the neck can become &quot;furred up&quot;. Patients may
  //-             | come into hospital having had a mini-stroke (TIA). If you have
  //-             | a mini stroke as part of the tests you have, someone will look
  //-             | at your carotid artery with a ultrasound. If significant disease
  //-             | is found it might be appropriate to have the artery cleared
  //-             | out with an operation

  //-           br
  //-           .text-center
  //-             a(href="#").flat-btn Read More ...
