---
title: "Varicose Veins"
layout: "default"
TopMenuCategory: "Treatments"
scripts: ['']
priority: 1.0
---

block content
  section.heading-treatments
    .treatments-inner
      .container
        .row
          .col-md-12
            h1 Varicose Veins

  section.content-treatments
    .contents-inner
      .container
        .row
          .col-md-12
            img.border-img.img-responsive(src="/img/VaricoseVeinDiagram.jpg" align="right" alt="Varicose Vein Diagram")

            h2 What are Varicose Veins
            hr

            p
              | Varicose veins are superficial veins that have become enlarged and are often twisted abnormally. They can
              | become visibly prominent and in some patients cause symptoms. They get commoner as patients get older and are more
              | common in women than men.

            p
              | They are caused by a malfunction in the values of veins that allows blood to flow in the wrong direction
              | back down the leg, thereby causing swelling.

            h2 Symptoms of varicose veins
            hr

            p The symptoms associated with varicose veins can vary quite a bit and can be vague.
            ul
              li General aching in the legs
              li A feeling of heaviness in the legs
              li Swelling in the legs
              li Restless legs
              li Itching or burning sensations
              li Unsightly bulges from the veins
              li Can lead to ulcer formation (But the risk is small. Around 1% over a lifetime)

            p
              | Because varicose veins are due to blood flowing back down the leg in the wrong direction, symptoms are often
              | worse at the end of the day or after long periods of standing. Putting your legs up can therefore also help.

            h2 Diagnosis
            hr
            
            p
              | Varicose veins can usually be diagnosed during a simple consultation with a vascular surgeon. However, the character,
              | position and extent of varicosities needs to be determined using a duplex ultrasound scan. This also gives information
              | to your surgeon about the condition of the deep veins and suitability for some of the treatment options.

            h2 Treatment of Varicose Veins
            hr
            
            p
              | Varicose vein treatment is a restricted service on the NHS and the criteria for treatment vary depending upon where
              | you live. If treatment is purely for cosmetic reasons then you will not be able to get treatment on the NHS. But
              | complication of varicose veins such as ulcers or skin discolouration can make you eligible for treatment.


            h3 Non-surgical and self help
            hr
            p
              | In the first instance attempts not to stand still for long lengths of time, resting with your legs up and doing moderate
              | exercise can all help. If you are overweight then weight reduction is of benefit.

            p
              | Graduated compression stockings can help aid the flow of blood in the correct direction and so help with varicose veins.
              | However, you must not wear them if you have problems with the blood supply to your legs (peripheral arterial disease). You
              | should really be assessed by a vascular consultant and then the correct stockings prescribed if appropriate. In some patients
              | this is the most appropriate form of long term treatment as they may not be able to undergo a procedure or if they have
              | problems with the deep and superficial veins.

            h3 Endothermal ablation
            hr
            p
              | The majority of varicose veins can be treated this way and can usually be performed under a local anaesthetic which means
              | you will be able to leave within half and hour of being treated.
            
            p
              | Endothermal ablation is carried out either by a heating coil (radiofrequency ablation) or a laser fibre (EVLT) being
              | passed into the abnormal vein under ultrasound guidance. The fibre is placed in the correct position inside of the vein
              | and then a local anaesthetic solution is placed up the leg along side the vein. This solution provides anaesthetic but also
              | protects the surrounding tissues from the heat. Once this is done the surgeon activates
              | the fibre and the vein is heated from the inside. This causes the walls of the vein to stick together and so blood can no
              | longer flow backwards in the wrong direction.

            p
              | My own preference is to use radiofrequency ablation. Patients and studies have reported less pain and less bruising after
              | RFA than laser EVLT. The success rates of the two procedures are comparable.
