---
title: "Varicose Veins - Radiofrequency Ablation"
layout: "treatment"
scripts: ['']
priority: 0.8
description: "Radiofrequency Ablation for varicose veins. Also called VNUS Closure."
---

block content

  h3 What is Radiofrequency Ablation
  hr
  p
    | This is also known as RFA or VNUS Closure and is normally a local anaesthetic procedure that you
    | can have as a day case where you walk in and walk out. It is a well recoginsed way to treat 
    a(href="/varicose-veins.html") varicose veins 
    | and one of the recomnded treatments by NICE.  
    
  
  p
    | Endothermal ablation is carried out either by a heating coil (radiofrequency ablation) or a laser fibre (EVLT) being
    | passed into the abnormal vein under ultrasound guidance. The fibre is placed in the correct position inside of the vein
    | and then a local anaesthetic solution is placed up the leg along side the vein. This solution provides anaesthetic but also
    | protects the surrounding tissues from the heat. Once this is done the surgeon activates
    | the fibre and the vein is heated from the inside. This causes the walls of the vein to stick together and so blood can no
    | longer flow backwards in the wrong direction.
