---
layout: 'default'
---
//- If we set this in meta data then it won't feed up the chain
//- So set directly using JADE syntax
- document.TopMenuCategory: "Treatments"

block content
  section.heading-treatments
    .treatments-inner
      .container
        .row
          .col-md-12
            h1= document.title

  section.content-treatments
    .contents-inner
      .container
        .row
          .col-md-12
            != content
